div {
}
div.tab-panel {
}
div.tab-panel .tab-button {
    display: block;
    float: left;
    margin: 3px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 3vh;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightblue;
    border-radius-top-left: 5px;
    border-radius-top-right: 5px;
}
div.tab-panel .active-tab {
    background-color: blue;
    color: white;
}
div.main div.tab {
    display: block;
}
table.grid {
    width: 100%;
}
table.grid td {
    padding: 2px;
}
td.pile {
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: black;
}
td.playmat-column.land-pile,
td.playmat-column.discard-pile,
td.playmat-column.draw-pile {
    background-color: black;
}
div.card {
    border-radius: 2px;
    background-color: tan;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
div.defense-display {
    background-color: lawngreen;
    min-width: 100px;
    min-height: 1em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.card td {
    overflow: hidden;
    vertical-align: top;
    padding: 0px;
}
div.card p {
    margin: 0px;
}
div.card-type-land {
    background-color: lawngreen;
}
div.card-type-character {
    background-color: orange;
}
div.card-type-character.card-type-explorer {
    border-color: cyan;
}
div.card-type-explorer {
    background-color: lightcyan;
}
div.card-type-army {
    background-color: darkkhaki;
}
div.card-type-vessel {
    background-color: darkcyan;
}
div.card-type-knowledge {
    background-color: gainsboro;
}
div.card table {
    width: 100%;
    height: 100%;
}
div.card td.illustration {
    width: 25%;
    text-align: center;
}
div.small-card td.illustration {
    width: 100%;
}
div.card td.right-column {
    width: 75%;
}
div.card td.name-plate {
    width: 80%;
    height: 3vh;
    text-align: center;
}
div.small-card td.name-plate {
    width: 100%;
}
div.card td.date-category {
    width: 20%;
}
div.card td.history-plate {
    width: 100%;
}
div.card td.ability-plate {
    width: 100%;
}
div.card td.reference {
    width: 50%;
}
div.card td.str-attack-def {
    width: 50%;
}
div.template {
    display: none;
}
div.card-zoom-holder {
    background: gray;
}
td.playmat-column {
    background-color: lightgoldenrodyellow;
}
td.playmat-column.highlight-square {
    background-color: darkgoldenrod;
}
div.tab {
    display: none;
}
div.button {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    display: block;
    float: left;
    margin-right: 5px;
}
div.transport-holder {
    display: block;
    float: left;
    padding: 5px;
    margin-right: 5px;
}
p.land-owner-tag {
    margin: 1px;
    font-size: 10px;
    background-color: blue;
    color: white;
}
div.morale-bar {
    display: block;
    text-align: center;
}
div.morale-bar .morale-display {
    float: left;
    display: block;
    background-color: blue;
    color: white;
    margin-right: 2px;
    font-weight: bolder;
    font-size: 110%;
}
div.morale-bar .morale-display-current {
    background-color: red;
}
